@import "../../../custom.scss";
.profile {
    .dataShow {
        img {
            width: 130px;
            height: 130px;
        }
        .text {
            h4 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
            }
        }
        .tag {
            background: $webblue_tt;
        }
    }
    .blogs {
        height: calc(100vh - 165px);
        overflow: auto;
    }
}
