@import "../../../custom.scss";
* {
    // outline: 1px solid lightgrey;
}
.headerStyle {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: linear-gradient(to right, $webblue, $weblightblue);
    // background: $webblue;
    h2 {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }
    Button {
        font-size: 1em;
    }
    .accountLogo {
        width: 39px;
        height: 39px;
        padding: 0;
        background: none;
    }
}
