@import "../../../custom.scss";

.headerStyle {
    width: 100%;
    background: linear-gradient(to right, $webblue, $weblightblue);
	h2{
		color: white;
		font-size: 2em;
		cursor: pointer;
	}
    Button {
        font-size: 1em;
    }
    .accountLogo {
        border-radius: 50%;
        width: 39px;
        height: 39px;
        padding: 0;
        background: none;
    }
}
