.leftCol {
    .searchBar {
        input {
            border: none !important;
            background: none;
            width: 70%;
            &:focus {
                border: none;
                outline: none;
            }
            color: black;
        }
    }
}
