@import "../../../custom.scss";

.mainContent {
    // max-height: calc(100vh - 180px);
    // overflow: auto;
    // position: relative;

    .tagInfoSection {
        box-shadow: rgba(0, 0, 0, 0.699) 0px -100px 50px 0px inset;
        background: linear-gradient(
            white,
            white,
            white,
            white,
            white,
            white,
            rgba(255, 255, 255, 0)
        );
        .tagName {
            font-size: 55px;
            color: white;
            line-height: 60px;
        }
        .tagInfo {
            font-size: 21px;
            color: white;
        }
        .followBtn {
            padding: 6px 6px 0px 3px;
            font-size: 17px;
        }
    }
    .postsContent {
        max-height: calc(100vh - 350px);
        overflow: auto;
    }
}
