@import "../../../../custom.scss";
.introductionPage {
    padding: 35vh 1rem 1rem 1rem;
    .title {
        font-size: 7em;
    }
    .desc {
        font-size: 1.2em;
    }
    .btnColumn {
        Button {
            width: 75%;
            background-color: $webblue;
        }
    }
}
