@import "../../../custom.scss";
*{
	// outline: 1px solid lightgrey;
}
.info {
    // class is picked in blog open page also.
    span {
        background: lightgrey;
    }
    p {
        font-size: 14px;
    }
    .menuIcon,
    .saveIcon {
        color: rgb(59, 59, 59);
        font-size: 20px;
    }
}
