@import "../../../custom.scss";

.dropdown {
    z-index: 900;
    .dropdown-menu {
        z-index: 1050; /* This is the default Bootstrap z-index for dropdowns */
    }
    ul {
        transition: 0.1s ease;
        li {
            // padding: 4px 6px;
            // cursor: pointer;
            // &:hover {
            //     background: rgba(211, 211, 211, 0.438);
            // }
        }
    }
}
