@import "../../../custom.scss";

.dropdown {
    ul {
        transition: 0.1s ease;
        li {
            padding: 4px 6px;
            cursor: pointer;
            &:hover {
                background: rgba(211, 211, 211, 0.438);
            }
        }
    }
}
