@import "../../../custom.scss";

.subHeaderStyle {
    width: 100%;
    position: relative;
    min-height: 80px;

    .backBtn {
        position: absolute;
        left: 0;
    }
    .arrowIcon {
        font-size: 20px;
    }
}
