@import "../../../custom.scss";

.subHeaderStyle {
    width: 100%;
    position: relative;
    .backBtn {
        position: absolute;
        left: 0;
    }
    .arrowIcon {
        font-size: 20px;
    }
}
