@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@500;600;700&display=swap");
@import "custom";
::-webkit-scrollbar {
    width: 6px;
}
* {
    // outline: 1px solid lightgrey;
}
/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555b3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555c3;
}

* {
    // outline: 1px solid lightgrey;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}
Button,
button {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.addShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 16px 0px;
}
.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}

.cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
}

#root {
    // max-width: 1280px;
    // margin: 0 auto;
    // padding: 1rem;
    // text-align: center;
}

.josefin-sans-bolder {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1px;
}

.josefin-sans-bold {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.josefin-sans-thin {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.form-control {
    border: 1px solid lightgrey !important;
    &:focus {
        border: 2px solid grey;
    }
}
.btn {
    border-radius: 0px;
}
