@import "node_modules/bootstrap/scss/bootstrap.scss";

//custom color to be mapped

$webpinkred: #f72585;
$webviolet: #7209b7;
$webdarkblue: #3a0ca3;
$webblue: #4361ee;
$weblightblue: #4cc9f0;
$webgrey: lightgrey;

$webpinkred_t: #f725849f;
$webviolet_t: #7109b7a6;
$webdarkblue_t: #390ca3a4;
$webblue_t: #4362eea2;
$weblightblue_t: #4ccaf0a6;
$webgrey_t: rgba(211, 211, 211, 0.639);

$webpinkred_tt: #f725846e;
$webviolet_tt: #7109b771;
$webdarkblue_tt: #390ca369;
$webblue_tt: #4362ee68;
$weblightblue_tt: #4ccaf062;
$webgrey_tt: rgba(211, 211, 211, 0.438);

// $webpinkred: grey;
// $webviolet: white;
// $webdarkblue: darkgrey;
// $webblue: grey;
// $weblightblue: lightgrey;

// $webpinkred_t: rgba(128, 128, 128, 0.641);
// $webviolet_t: rgba(255, 255, 255, 0.64);
// $webdarkblue_t: rgba(169, 169, 169, 0.622);
// $webblue_t: rgba(128, 128, 128, 0.645);
// $weblightblue_t: rgba(211, 211, 211, 0.668);

// $webpinkred_tt: rgba(128, 128, 128, 0.328);
// $webviolet_tt: rgba(255, 255, 255, 0.311);
// $webdarkblue_tt: rgba(169, 169, 169, 0.309);
// $webblue_tt: rgba(128, 128, 128, 0.324);
// $weblightblue_tt: rgba(211, 211, 211, 0.315);

$theme-colors: map-merge(
    $theme-colors,
    (
        // configure existing colors to whatever color you like.
        // ex:
        "success": $success,
        "primary": $webblue,
        // add any additional color below
        //..
        "webpinkred": $webpinkred,
        "webviolet": $webviolet,
        "webdarkblue": $webdarkblue,
        "webblue": $webblue,
        "weblightblue": $weblightblue,
        "grey": $webgrey,
        // now bg-accent,btn-accent,etc.. can be called
    )
);

// Import Bootstrap and its default variables

::-webkit-scrollbar {
    width: 6px;
}
* {
    // outline: 1px solid lightgrey;
}
/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555555b3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555c3;
}

* {
    // outline: 1px solid lightgrey;
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
Button,
button {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.addShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 16px 0px;
}
.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}

.cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
}

#root {
    // max-width: 1280px;
    // margin: 0 auto;
    // padding: 1rem;
    // text-align: center;
}

.josefin-sans-bolder {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    // letter-spacing: -1px;
}

.josefin-sans-bold {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    letter-spacing: -1px;
    font-style: normal;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.josefin-sans-thin {
    font-family: "Josefin Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.form-control {
    border: 1px solid lightgrey !important;
    &:focus {
        border: 2px solid grey;
    }
}
.line-wrap3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
}
.line-wrap2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
}

.hover-underline {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
.likeIcon {
    color: $webpinkred;
}
.saveIcon {
    color: $webblue;
}
.pointer {
    cursor: pointer;
}
.post {
    overflow: hidden;
    // border-bottom: 1px solid rgba(128, 128, 128, 0.155);
    .tagsSection {
        .tag {
            font-size: 12px;
            background-color: rgba(189, 189, 189, 0.397);
        }
    }
    .textContent {
        width: 80%;
        h3,
        pre {
            width: 90%;
            cursor: pointer;
        }
        pre {
            p {
                margin-bottom: 0;
            }
        }
        h3 {
            font-size: 20px;
        }
        .info {
            .saveIcon {
                font-size: 20px;
                z-index: 9999;
            }
        }
    }
    .imgContent {
        width: 20%;
        height: 110px;
        img {
            display: block;
            width: 90%;
            max-height: 110px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
.color-webpinkred {
    color: $webpinkred;
}
.color-webviolet {
    color: $webviolet;
}
.color-webdarkblue {
    color: $webdarkblue;
}
.color-webblue {
    color: $webblue;
}
.color-weblightblue {
    color: $weblightblue;
}
.color-webgrey {
    color: $webgrey;
}
@import "node_modules/bootstrap/scss/bootstrap.scss";
