@import "node_modules/bootstrap/scss/bootstrap.scss";

// Custom colors
$webpinkred: #f72585;
$webviolet: #7209b7;
$webdarkblue: #3a0ca3;
$webblue: #4361ee;
$weblightblue: #4cc9f0;
$webgrey: lightgrey;

$webpinkred_t: #f725849f;
$webviolet_t: #7109b7a6;
$webdarkblue_t: #390ca3a4;
$webblue_t: #4362eea2;
$weblightblue_t: #4ccaf0a6;
$webgrey_t: rgba(211, 211, 211, 0.639);

$webpinkred_tt: #f725846e;
$webviolet_tt: #7109b771;
$webdarkblue_tt: #390ca369;
$webblue_tt: #4362ee68;
$weblightblue_tt: #4ccaf062;
$webgrey_tt: rgba(211, 211, 211, 0.438);

$theme-colors: map-merge(
    $theme-colors,
    (
        "primary": $webblue,
        "webpinkred": $webpinkred,
        "webviolet": $webviolet,
        "webdarkblue": $webdarkblue,
        "webblue": $webblue,
        "weblightblue": $weblightblue,
        "grey": $webgrey,
    )
);

// Scrollbar styles
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #555555b3;
    border-radius: 10px;

    &:hover {
        background: #555555c3;
    }
}

// Font styles
%basicFontCSS {
    // font-style: normal;
    // font-optical-sizing: auto;
}

%font1 {
    @extend %basicFontCSS;
    font-family: "Montserrat", sans-serif;
}

%font2 {
    @extend %basicFontCSS;
    font-family: "Cardo", sans-serif;
}

* {
    @extend %font1;
    // font-weight: 300;
}

button {
    @extend %font1;
    font-weight: 300;
}

.addShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 16px 0px;
}

.font2-regular {
    @extend %font2;
    // font-weight: 400;
}

.font2-bold {
    @extend %font2;
    font-weight: 700;
}

.font1-bolder {
    @extend %font1;
    font-weight: 800;
}

.font1-bold {
    @extend %font1;
    font-weight: 400;
    letter-spacing: -1px;
}

.font1-regular {
    @extend %font1;
    font-weight: 400;
}

.font1-thin {
    @extend %font1;
    font-weight: 300;
}

.form-control {
    border: 1px solid $webgrey !important;

    &:focus {
        border: 2px solid $webgrey;
    }
}

%line-wrap {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.line-wrap3 {
    @extend %line-wrap;
    -webkit-line-clamp: 3;
}

.line-wrap2 {
    @extend %line-wrap;
    -webkit-line-clamp: 2;
}

.hover-underline {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.likeIcon {
    color: $webpinkred;
}

.saveIcon {
    color: $webblue;
}

.pointer {
    cursor: pointer;
}

.disabledText {
    color: grey !important;
}

.post {
    overflow: hidden;

    .tagsSection {
        .tag {
            font-size: 12px;
            background-color: rgba(189, 189, 189, 0.397);
        }
    }

    .textContent {
        width: 80%;

        h3,
        pre {
            width: 90%;
            cursor: pointer;
        }

        pre p {
            margin-bottom: 0;
        }

        h3 {
            font-size: 20px;
        }

        .info .saveIcon {
            font-size: 20px;
            z-index: 9999;
        }
    }

    .imgContent {
        width: 20%;
        height: 110px;

        img {
            display: block;
            width: 90%;
            max-height: 110px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

@each $color,
    $value
        in (
            "webpinkred": $webpinkred,
            "webviolet": $webviolet,
            "webdarkblue": $webdarkblue,
            "webblue": $webblue,
            "weblightblue": $weblightblue,
            "webgrey": $webgrey
        )
{
    .color-#{$color} {
        color: $value;
    }
}
@import "node_modules/bootstrap/scss/bootstrap.scss";
