@import "../../../custom.scss";
* {
    // outline: 1px solid lightgrey;
}
.featuresPanelStyle {
    width: 100%;
    background: white;
    border-radius: 4px;
    .tagsDiv {
        overflow: auto;
        // height: 300px;
        Button {
            font-size: 14px;
        }
    }
    .border-rounded {
        border-radius: 16px !important;
    }
}
