* {
    // outline: 1px solid lightgrey;
}
.myBlogs {
    .myBlog {
        .index {
            width: 15px;
        }
        img {
            width: 20%;
            min-width: 20%;
            max-width: 20%;
            height: 80px;
            object-fit: cover;
        }
        .titleAndInfo {
			width: calc(100% - 20% - 15px);
            .titleBlog {
                cursor: pointer;
				
            }
        }
    }
}
