* {
    // outline: 1px solid lightgrey;
}
.myBlogs {
    .myBlog {
		.index{
			width:15px;
		}
        img {
            min-width: 12%;
            height: 80px;
            object-fit: cover;
        }
		.titleAndInfo{
			.titleBlog {
				cursor: pointer;
			}
			.blogInfo{
				.likeIcon{
					color: darkmagenta;
				}
			}
		}
    }
}
